.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.header {
    background-color: #92e0ff;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
}

.number-of-rows {
    width: 100px;
    margin: 0 10px;
}

.common-btns.ant-btn {
    background-color: #5adbb5;
    color: #fff;
}

.custom-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seating-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pyramid{
    margin-top: 20px;
}

.row {
    margin: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

Button.selected {
    background-color: #33b249 !important;
    color: #fff !important;
}

Button[disabled] {
    background-color: rgb(200, 199, 199) !important;
    color: #fff !important;
    cursor: not-allowed !important;
}

.btn-submit-seats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.total-cost {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
